.fondo {
  display: flex;
  background-color: #2a605a;
  min-height: 100vh;
  color: #cfc0bd;
}
.accordion h1 {
  margin-top: 15%;
}

.Accordion.Header {
  background-color: #2a605a;
}
.mi-accordion .mi-body {
  background-color: #2a605a;
  color: #cfc0bd;
}
