/* Login.css */
.fondo {
  display: flex;
  background-image: url("../multimedia/images/estaticos/must/login.png");
  background-size: cover; /* Esto ajustará la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Esto ajustará la altura del contenedor al 100% del viewport */
}
.card {
  background-color: rgb(0, 0, 0, 0);
}
.card-body {
  z-index: 1;
  background-color: rgb(88, 111, 107, 0.8);
  color: #cfc0bd;
}

.btn {
  background-color: #cfc0bd;
  color: #2a605a;
}
.card-body input {
  background-color: #2a605a;
}

.card-body input::placeholder {
  color: #cfc0bd;
}

.lost {
  color: aliceblue;
}
