.fondo {
  display: flex;
  background-image: url("../multimedia/images/estaticos/must/login.png");
  background-size: cover; /* Esto ajustará la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Esto ajustará la altura del contenedor al 100% del viewport */
}

.container {
  background-color: rgb(88, 111, 107, 0.8);
  max-width: 900px;
  margin-top: 10%;
  max-height: 400px;
  color: #cfc0bd;
}
.btn {
  background-color: #cfc0bd;
  color: #2a605a;
  outline: #2a605a;
}

.container input {
  background-color: #2a605a;
  color: #cfc0bd;
}

.container form {
  margin-bottom: 0%;
}
