.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bggreen {
  background-color: #2a605a;
}
.bgmoss {
  background-color: #586f6b;
}
.bglime {
  background-color: #7f8d84;
}
.nava {
  background-color: #2a605a;
}
.naa {
  height: 9.5vh;
}
.grueso {
  border-width: 3px;
  color: black;
}
.navaitem {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navaitem h1,
.grandtxt {
  font-size: 6vh;
  color: #cfc0bd;
}
.navaitem img {
  height: 7vh;
}
.titulo {
  font-family: "Fjalla One", sans-serif;
}
.normaltxt {
  font-family: "Lato", sans-serif;
}
.spacecontrol {
  height: 90vh;
}
.whitetxt {
  color: #cfc0bd;
}
.grandtxt2 {
  font-size: 3vw;
}
