.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bggreen {
  background-color: #2a605a;
}
.bgmoss {
  background-color: #586f6b;
}
.bglime {
  background-color: #7f8d84;
}
.bgdark {
  background-color: #0101017e;
}
.bgwhite {
  background-color: #cfc0bd;
}
.nava {
  background-color: #2a605a;
}
.naa {
  height: 9.5vh;
}
.grueso {
  border-width: 3px;
  color: black;
}
.navaitem {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navaitem h1,
.grandtxt {
  font-size: 6vh;
  color: #cfc0bd;
}
.navaitem img {
  height: 7vh;
}
.titulo {
  font-family: "Fjalla One", sans-serif;
}
.normaltxt {
  font-family: "Lato", sans-serif;
}
.spacecontrol {
  height: 90vh;
}
.whitetxt {
  color: #cfc0bd;
}
.grandtxt2 {
  font-size: 3vw;
}
.carda {
  height: 40%;
}
.stick {
  overflow-y: auto;
}
.noy {
  overflow-y: hidden;
}
.nox {
  overflow-x: hidden;
}
.nobg {
  background-color: #00000000;
}

/* Fernando Tal*/
.fondoayuda {
  display: flex;
  background-color: #2a605a;
  min-height: 100vh;
  color: #cfc0bd;
}
.acortitulo {
  margin-top: 15%;
}

.mi-header {
  background-color: #2a605a;
}
.mi-accordion .mi-body {
  background-color: #2a605a;
  color: #cfc0bd;
}
.fondo {
  display: flex;
  background-image: url("./multimedia/images/estaticos/must/login.png");
  background-size: cover; /* Esto ajustará la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Esto ajustará la altura del contenedor al 100% del viewport */
}
.cardo .card {
  background-color: rgb(0, 0, 0, 0);
}
.cardo .card-body {
  z-index: 1;
  background-color: rgb(88, 111, 107, 0.8);
  color: #cfc0bd;
}

.bototo {
  background-color: #cfc0bd;
  color: #2a605a;
}
.cardo .card-body input {
  background-color: #2a605a;
}

.cardo .card-body input::placeholder {
  color: #cfc0bd;
}

.lost {
  color: aliceblue;
}
.fondocontener {
  background-color: rgb(88, 111, 107, 0.8);

  margin-top: 20%;
  margin-bottom: 20%;

  color: #cfc0bd;
}
.btn {
  background-color: #cfc0bd;
  color: #2a605a;
  outline: #2a605a;
}

.inputverde {
  background-color: #2a605a;
  color: #cfc0bd;
}
